@model Od34.Entity.Post
@using Od34.Controllers;

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.id_post, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <h5>@Model.id_post</h5>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.meta_title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.meta_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.meta_title, "", new { @class = "text-danger" })
            </div>
        </div>

        @*@Html.DevExpress().UploadControl(settings =>
            {
                settings.Name = "UploadControl";
                settings.ShowAddRemoveButtons = true;
                settings.ShowProgressPanel = true;
                settings.ShowClearFileSelectionButton = true;
                settings.ShowUploadButton = true;
                settings.Size = 30;
            }).GetHtml()*@
        
        <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
                <img class="img-responsive img-thumbnail" src="~/Content/UploadImages/@Model.header_image" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.header_image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DevExpress().UploadControl(settings =>
            {
                settings.Name = "UploadControl";
                //settings.CallbackRouteValues = new { Controller = "Post", Action = "UploadControlUpload" };

                //settings.UploadMode = UploadControlUploadMode.Standard;

                settings.AdvancedModeSettings.EnableDragAndDrop = false;
                //settings.AdvancedModeSettings.EnableMultiSelect = false;

                settings.ShowUploadButton = false;
                settings.ShowProgressPanel = false;

                settings.ValidationSettings.Assign(Od34.Controllers.PostControllerUploadControlSettings.UploadValidationSettings);
            }).GetHtml()
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.meta_description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.meta_description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.meta_description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.post_body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DevExpress().HtmlEditor(settings =>
           {
               settings.Name = "HtmlEditor";
               settings.CallbackRouteValues = new { Controller = "Post", Action = "HtmlEditorPartial" };
               settings.Width = 980;
               settings.ToolbarMode = HtmlEditorToolbarMode.Menu;

               settings.SettingsDialogs.InsertImageDialog.SettingsImageUpload.UploadCallbackRouteValues = new { Controller = "Post", Action = "HtmlEditorPartialImageUpload" };
               settings.SettingsDialogs.InsertImageDialog.SettingsImageUpload.UploadFolder = PostControllerHtmlEditorSettings.ImageUploadDirectory;
               settings.SettingsDialogs.InsertImageDialog.SettingsImageUpload.ValidationSettings.Assign(PostControllerHtmlEditorSettings.ImageUploadValidationSettings);

               settings.Html = Model.post_body;
               settings.SettingsDialogs.InsertImageDialog.SettingsImageSelector.Assign(PostControllerHtmlEditorSettings.ImageSelectorSettings);
           }).GetHtml()
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}