@model Od34.Entity.Post

@{
    ViewBag.Title = "_PostItem";
}
@section Styles {
<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
}
<div class="unit-out col-md-8">
    <div class="unit">
        <a href="/post/edit/@Model.id_post" class="unitImageHolder">
            <img class="img-responsive" src="~/Content/UploadImages/@Model.header_image" alt="">
        </a>
        <div class="unit-in2x">
            <time>@Model.dbcreate.ToString("dd MMMM yyyy HH:mm")</time>
            <h1>@Model.title</h1>
            <p>
                @Html.Raw(Model.post_body)
            </p>
        </div>
    </div>
</div>

<div class="unit-out col-md-4">
    <div class="unit">
        <a href="/blog/post/305/" class="unitImageHolder2x">
            <img class="img-responsive" src="~/Content/UploadImages/@Model.header_image" alt="">
        </a>
        <div class="unit-in">
            <time>@Model.dbcreate.ToString("dd MMMM yyyy HH:mm")</time>
            <h1>@Model.title</h1>
            <p>
                @Model.post_body
            </p>
        </div>
    </div>
</div>

